/*
 * Estilos de tu proyecto
 */
 /* Estilos a toda mi web */
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
header{
  width: 100%;
  height: 17%;
  background-color: #F3E2A9;
  position: relative;
  display: inline-block;
}
/* Estilos del logo de laboratoria */
header img{
  width: 20%;
  height: auto;
  display: inline-block;
  margin-left: 40%;
  margin-right: 35%;
}
/* Estilo al ícono hamburguesa */
header i{
  display: inline-block;
  position: relative;
  right: 5em;
  color: #848484;
  bottom: 0.30em;
}
/* Estilo al menú desplegable de las sedes */
.menu_sedes{
  display: inline-block;
  position: relative;
  left: 1em;
  bottom: 3em;
}
/* Estilo al ícono equis */
.fa-times{
  position: relative;
  display: inline-block;
  font-size: 2em;
}
/* Estilo al menú desplegable de los idiomas */
.clase-idiomas{
  display: inline-block;
  position: relative;
  left: 78em;
  bottom: 5em;
}
/* Estilo al menú local */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    position: relative;
    bottom: 4em;
}

/* Estilo a los botones del menú local */
div.tab button {
    margin-top: 2em;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em 1em;
    transition: 0.3s;
    font-size: 1.2em;
    text-transform: uppercase;
}

/* Usando hover para cambiar el color de fondo a los botones del menú desplegable */
div.tab button:hover {
    background-color: #ddd;
}

/* Creando un active/current al div de la clase tab */
div.tab button.active {
    background-color: #ccc;
}

/* Estilos al contenido de los tabs */
.tabcontent {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* Estilo del título del h2, sección estudiantes del menú local */
.especializacion{
  position: relative;
  top: 2em;
  left: 3em;
}
/* Estilo del input javascript */
.javascript{
  position: relative;
  top: 6em;
  left: 3em;
  font-size: 1.30em;
}
/* Estilo del input ux */
.ux{
  position: relative;
  top: 10em;
  right: 4em;
  font-size: 1.30em;
}
/* Estilo del input front-design */
.front-design{
  position: relative;
  top: 14em;
  right: 11em;
  font-size: 1.30em;
}
/* Estilo del div creado en javascript que contiene el menú al hacer click en el ícono hamburguesa */
.clase_div{
  background: #424242;
  width: 25em;
  height: 30em;
  left: 0.10em;
  border-radius: 0.50em;
}
/* Estilo de la imagen del menú creado en javascript */
.clase_img{
  width: 30%;
  position: relative;
  top: 1em;
  left: 1em;
}
/* Estilo del nombre (Valentina Smith) del menú creado en javascript */
.clase_p{
  text-transform: uppercase;
  color: white;
  position: relative;
  left: 10em;
  bottom: 4em;
}
/* Estilo de la lista del menú creado en javascript */
.clase_nav{
    color: white;
  position: relative;
  top: 3em;
  left: 1em;
  list-style: none;
  font-size: 1.35em;
}
.clase_a, .clase_a2, .clase_a3{
  color: white;
  text-decoration: none;
}
.clase_a2{
  position: relative;
  top: 2em;
}
.clase_a3{
  position: relative;
  top: 4em;
}
/* Efecto hover que cambia el color de fondo de la lista del menú creado en javascript */
.clase_a:hover, .clase_a2:hover, .clase_a3:hover{
  background: #848484;
  padding: 20px 60px;
}

/* graficos pagina */
#chart_div_alumnas_total, #chart_div_alumnas_total_scl, #chart_div_alumnas_abandono_scl, #chart_net_promoter_score_scl20172{
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 1em 1.5em;
}
.nps_muestra{
  display: inline-block;
  width: 80%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 1em 10em;
}
