/*
 * Estilos de tu proyecto
 */
*{
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  height: 100px;
  background-color: #F3E2A9;
  position: fixed;
  display: inline-block;
}
header img{
  width: 20%;
  height: auto;
  display: inline-block;
  margin-left: 40%;
  margin-right: 35%;
}
header i{
  display: inline-block;
  color: #848484;
}
.fa-times{
  position: relative;
  right: 20px;
  bottom: 4px;
  display: inline-block;
  font-size: 32px;
}
#menu_local ul {
 list-style:none;
 position: relative;
 top: 150px;
}

/* items del menu */

#menu_local ul li {
 background-color:#FFBF00;
 border-radius: 7px;
}
#menu_local ul li:hover {
  background:#FF8000;
}
/* enlaces del menu */

#menu_local ul a {
 display:block;
 color:#fff;
 text-decoration:none;
 font-weight:400;
 font-size:15px;
 padding:10px;
 text-transform:uppercase;
 }
 #menu_local ul li {
 position:relative;
 float: left;
 margin-left: 10px;
 padding:0;
}
/* menu desplegable */

#menu_local ul ul {
 display:none;
 position:absolute;
 top:100%;
 left:0;
 background:#eee;
 padding:0;
}

/* items del menu desplegable */

#menu_local ul ul li {

 float:none;
 width:150px
}

/* enlaces de los items del menu desplegable */

#menu_local ul ul a {
 line-height:120%;
  padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */

#menu_local ul li:hover > ul {
 display:block;
}
.menu_sedes{
  display: inline-block;
  position: relative;
  right: 450px;
  margin-top: 60px;
}
.clase_div{
  position: relative;
  background: #424242;
  width: 400px;
  height: 450px;
  left: 5px;
  border-radius: 7px;
}
.contenedor{
  display: inline-block;
  position: relative;
  margin-left:500px;
}

.clase_img{
  width: 30%;
  position: relative;
  top: 20px;
  left: 30px;
}
.clase_p{
  text-transform: uppercase;
  color: white;
  position: relative;
  left: 180px;
  bottom: 70px;
}
.clase_nav{
  position: relative;
  top: 50px;
  left: 50px;
  list-style: none;
  font-size: 20px;
}
.clase_linea2, .clase_linea3{
  margin-top: 50px;
}
.clase_a, .clase_a2, .clase_a3{
  color: white;
  text-decoration: none;
}
.clase_a:hover, .clase_a2:hover, .clase_a3:hover{
  background: #FFBF00;
  padding: 20px 60px;
}
.clase_activas{
  
}
